

.row-hidden{
    display: none;
}

.form-group {
    max-width: 150px;
}

.form-control {
    width: auto;
}
.container-sort {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}
.clear-button {
    margin: 20px 0;
}
.inputHide.form-control{
    display: none;
}
.sort {
    display: none;
}

#table-container{
    max-width: 1200px;
    margin: 0 auto;
}

#table-container-title {
    font-size: 30px;
    padding: 30px 0;
}